.container{
    -moz-animation: fadein 0.5s;
}

#purchase-history-title{
    color:gray;
    margin-left: 20px;
}

.historyBox{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 900px;
    overflow:auto;
}

#historyTab{
    border:1px solid black;
    width:100%;
}

#historyTab tr{
    text-align: center;
    vertical-align: top;
}

#historyTab #tablehead{
    outline:1px solid black;
}

#tab-itemlist{
    width:600px;
}